// Common
@font-face {
	font-family: "Navigo";
	src: url("../fonts/Navigo-ExtraLight.woff2"), url("../fonts/Navigo-ExtraLight.woff");
	font-display: swap;
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "Navigo";
	src: url("../fonts/Navigo-Light.woff2"), url("../fonts/Navigo-Light.woff");
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Navigo";
	src: url("../fonts/Navigo-Regular.woff2"), url("../fonts/Navigo-Regular.woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Navigo";
	src: url("../fonts/Navigo-Medium.woff2"), url("../fonts/Navigo-Medium.woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

$color-white: #fff;
$color-black: #000;
$color-grey: #373737;
$color-blue: #006AFF;
$color-dark-blue: #005FE4;
$color-red: #FB4749;
$color-dark-red: #DE3D3F;
$color-green: #03A200;
$color-dark-green: #039000;
$color-yellow: #F8D800;

*,
*::after,
*::before {
  	box-sizing: border-box;
}

body {
	font-family: "Navigo";
	position: relative;
	font-size: 36px;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
	color: $color-grey;
}

input {
	border: none;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;

	&:-webkit-autofill {
		box-shadow: 0 0 0 30px white inset !important;
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

textarea, input, button:focus {
  	outline: none;
}

button {
	color: inherit;
	font-size: inherit;
  	cursor: pointer;
	border: none;
  	background: none;
  	padding: 0;
  	font-family: inherit;
}

ul, li {
  	display: block;
  	margin: 0;
  	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0;
}

p {
  	margin: 0;
}

a {
	line-height: 1em;
	text-decoration: none;
	color: inherit;
}

textarea {
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	border: none;
	resize: none;
}

.container {
	width: 1650px;
	margin: 0 auto;
}

.logo {
	display: inline-block;

	img {
		display: block;
	}
}

.burger-menu.active {
	right: 0;
}

.burger-menu {
	color: $color-white;
	padding-top: 45px;
	background-color: $color-dark-blue;
	z-index: 1000;
	position: fixed;
	top: 0;
	right: -100vw;
	width: 100vw;
	height: 100vh;
	transition: right .2s ease;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 100px;
	}

	&__item {
		&:not(:last-of-type) {
			margin-bottom: 55px;
		}
	}

	&__link {
		font-size: 36px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		img {
			display: block;
		}
	}

	&__close {
		width: 34px;
		height: 34px;

		img {
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	&__bg {
		height: 43%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;

		img {
			height: 100%;
			display: block;
		}
	}
}

.main-title {
	font-size: 80px;
	line-height: 1.2em;
}

.section-title {
	line-height: 1.2em;
	font-size: 96px;
	font-weight: 300;
	color: #111111;
}

.next-title {
	font-size: 48px;
	font-weight: 300;
	line-height: 1.3em;
}

.burger {
	display: none;
	width: 60px;
	height: 28px;
	background: url('../img/burger.svg') no-repeat center center;
	transition: background .2s ease;
}

.btn {
	display: inline-block;

	&_primary {
		border-radius: 5px;
		font-size: 24px;
		font-weight: 500;
		line-height: 1.2em;
		padding: 35px 109px;
		border: 3px solid $color-white;
		transition: color .3s ease, background-color .3s ease, box-shadow .3s ease;

		&:hover {
			background-color: #fff;
			box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.15);
			color: $color-red;
		}
	}

	&_secondary {
		font-weight: 500;
		border: 3px solid $color-blue;
		color: $color-blue;
		transition: color .3s ease, border .3s ease;
		font-size: 24px;
		padding: 35px 90px;
		border-radius: 5px;

		&:hover {
			border: 3px solid $color-dark-blue;
			color: $color-dark-blue;
		}
	}

	&_triple {
		color: $color-blue;
		padding: 35px 132px;
		border-radius: 5px;
		font-weight: 500;
		background-color: $color-white;
		font-size: 24px;
		transition: color .3s ease, box-shadow .3s ease;

		&:hover {
			color: $color-dark-blue;
			box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.15);
		}
	}
}

.popup {
	&-catalog.active,
	&-login.active {
		opacity: 1;
		visibility: visible;
	}

	&-catalog,
	&-login {
		opacity: 0;
		visibility: hidden;
		color: $color-white;
		z-index: 1000;
		position: fixed;
		width: 100vw;
		height: 100vh;
		transition: opacity .2s ease, visibility .2s ease;

		&__body {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			overflow: hidden;
			width: 590px;
			position: relative;
			padding: 75px;
			background: $color-dark-green;
			z-index: 5;
		}

		&__img {
			bottom: 0;
			right: -40px;
			position: absolute;
			z-index: 0;

			img {
				display: block;
			}
		}

		&__text {
			position: relative;
			z-index: 1;
			line-height: 1.3em;
		}
	}

	&-login {
		&__body {
			padding: 75px 90px;
			background-color: $color-dark-blue;
			box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
		}

		&__title {
			margin-bottom: 40px;
		}

		&__subtitle {
			margin-bottom: 15px;
			font-size: 20px;
		}

		&__inner {
			&:not(:last-of-type) {
				margin-bottom: 30px;
			}
		}

		&__input {
			padding: 17px 22px;
			color: $color-white;
			font-size: 24px;
			line-height: 1.3em;
			font-weight: 300;
			width: 390px;
			border-radius: 5px;
			border: 2px solid $color-white;
			background: none;
		}

		&__btn {
			padding: 28px 0;
			width: 100%;
			font-size: 18px;
			margin: 40px 0 35px;
		}

		&__register {
			display: flex;
			margin: 0 auto;
			max-width: fit-content;
			font-size: 20px;
			padding-bottom: 7px;
			border-bottom: 2px solid rgba($color-white , 0);
			transition: border-bottom .2s ease;

			&:hover {
				border-bottom: 2px solid $color-white;
			}
		}

		&__forget {
			margin-top: 15px;
			font-size: 18px;
			padding-bottom: 2px;
			border-bottom: 2px solid rgba($color-white , 0);
			transition: border-bottom .2s ease;

			&:hover {
				border-bottom: 2px solid $color-white;
			}
		}
	}

	&-close {
		z-index: 2;
		position: absolute;
		top: 20px;
		right: 20px;

		img {
			display: block;
		}
	}

	&-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#F3F3F3, .85);
		z-index: 1;
	}
}

// Header
.header {
	z-index: 100;
	padding: 40px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: $color-white;
	transition: background-color .2s ease, padding .2s ease;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		width: 206px;
		height: 71px;
		transition: width .2s ease, height .2s ease;
		margin-bottom: 6px;
	}

	&__logo svg path {
		fill: $color-white;
		transition: fill .2s ease;
	}

	&__logo svg {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.header.active {
	padding: 30px 0;
	background-color: $color-white;
	.header {
		&__logo svg path {
			fill: $color-grey;
		}

		&__logo {
			width: 174px;
			height: 60px;
		}
	}

	.menu {
		&__link {
			font-size: 24px;
			color: $color-grey;
			font-weight: 300;

			&:hover {
				color: $color-blue;
				border-bottom: 3px solid $color-blue;
			}
		}

		&__link.active {
			&:hover {
				color: $color-blue;
				border-bottom: 3px solid $color-blue;
			}
		}
	}
}

.menu {
	margin-top: 5px;
	display: flex;
	align-items: center;

	&__item {
		display: flex;
		&:not(:first-of-type) {
			margin-left: 105px;
		}
	}

	&__link {
		padding-bottom: 10px;
		letter-spacing: 0.02em;
		font-size: 28px;
		line-height: 1em;
		font-weight: 300;
		transition: color .2s ease, font-weight .2s ease, font-size .2s ease, border-bottom .2s ease;
		border-bottom: 3px solid rgba(#000, 0);

		&:hover {
			border-bottom: 3px solid $color-white;
		}
	}

	&__link.active {
		border-bottom: 3px solid $color-white;
	}
}

// Home
.home {
	overflow: hidden;
	color: $color-white;

	&_blue {
		background-color: $color-dark-blue;
	}

	&_red {
		background-color: $color-dark-red;
	}

	&_green {
		background-color: $color-dark-green;
	}

	&__wrapper {
		display: flex;
	}

	&-img {
		position: relative;
		right: -220px;
		margin-right: -200px;
		display: flex;

		img {
			display: block;
		}
	}
}

.offer {
	padding: 326px 0px 250px 0;
	min-width: 810px;

	&__inner {
		align-items: center;
		display: flex;
	}

	&__subtitle {
		margin-bottom: 20px;
		margin-right: 20px;
		opacity: 0.25;

		span {
			transition: opacity .2s ease;
			opacity: 0;
		}
	}

	&__text {
		opacity: 0;
		font-size: 24px;
		line-height: 1.3em;
		transition: opacity .1s ease;
	}

	&__text.active {
		opacity: 1;
	}
}

.smallSlider {
	height: 320px;
	
	&__slide.active {
		.offer__subtitle {
			opacity: 1;
			color: $color-yellow;

			span {
				opacity: 1;
			}
		}

		.offer__text {
			opacity: 1;
		}
	}
}

// Can
.can {
	padding: 200px 0;

	&__inner {
		display: flex;
	}

	&__list {
		&:not(:first-of-type) {
			margin-left: 230px;
		}
	}

	&__title {
		margin-bottom: 75px;
	}

	&__arrow {
		position: relative;
		display: flex;
		margin-right: 40px;
		margin-top: 2px;
		right: 0;
		transition: right .2s ease;
	}

	&__item {
		&:not(:last-of-type) {
			margin-bottom: 70px;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		max-width: max-content;

		&-text {
			line-height: 1.2em;
			font-weight: 300;
		}

		&:hover {
			.can__arrow {
				right: -20px;
			}
		}
	}
}

// Soon
.soon {
	background-color: $color-red;
	color: $color-white;
	overflow: hidden;

	&__triangle {
		position: relative;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 212px 211px 212px 0;
		border-color: transparent #f8d700 transparent transparent;

		&::before {
			content: '';
			position: absolute;
			top: -200px;
			left: 211px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 212px 211px 212px 0;
			border-color: transparent #f8d700 transparent transparent;
		}
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__text {
		width: 735px;
		font-size: 44px;
		font-weight: 300;
		line-height: 1.3em;
	}
}

// Minus
.minus {
	padding: 200px 0;

	&__text {
		width: 1264px;
		color: #111111;
		margin-bottom: 105px;
		line-height: 1.3em;

		a {
			color: $color-blue;
		}
	}

	&__item {
		padding: 25px 40px;
		font-weight: 300;
		font-size: 24px;
		line-height: 1.2em;
		border-radius: 150px;

		&-red {
			border: 2px solid $color-red;
		}

		&-blue {
			border: 2px solid $color-blue;
		}

		&-green {
			border: 2px solid $color-green;
		}

		&-yellow {
			border: 2px solid $color-yellow;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		li {
			opacity: 0;
			transition: opacity 1s ease;
			margin-right: 30px;
			margin-bottom: 30px;
		}

		li.active {
			opacity: 1;
		}
	}

	&__emoji {
		display: flex;
		align-items: center;

		img {
			display: block;

			&:not(:first-of-type) {
				margin-left: 5px;
			}
		}

		&_heart {
			margin-right: 0px !important;
		}
	}
}

// Team
.team {
	padding-bottom: 35px;
	overflow: hidden;

	&__title {
		&-wrapper {
			margin-bottom: 70px;
			display: flex;
			justify-content: space-between;
		}
	}
}

.teamSlider {
	overflow: visible;

	&__slide {
		position: relative;
		border-radius: 20px;
		width: 500px;
		height: 550px;
		overflow: hidden;
		transition: transform .3s ease;

		&:nth-child(2n+1) {
			transform: rotate(5deg);
		}
		&:nth-child(2n+2) {
			transform: rotate(-5deg);
		}

		&::before {
			border-radius: 20px;
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			background: rgba($color-black, .1);
			transition: background .2s ease;
		}

		&:hover {
			transform: rotate(0deg);

			&::before {
				background: rgba(#005FE4, .85);
			}

			.teamSlider-info {
				opacity: 1;
			}
		}
	}

	&-info {
		opacity: 0;
		color: $color-white;
		width: 410px;
		bottom: 40px;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		transition: opacity .3s ease;

		&__item {
			display: flex;
			font-size: 18px;
			line-height: 1.3em;
			margin-top: 15px;

			img {
				display: block;
				margin-right: 15px;
				margin-top: 4px;
			}
		}
	}

	&__img {
		img {
			border-radius: 20px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}

	&-arrow {
		width: 250px;
		position: relative;
	}
	
	&-next,
	&-prev {
		margin-top: 0;
		transform: translateY(-50%);
		opacity: 1;
		width: 110px;
		height: 30px;

		&::after {
			display: none;
		}
	}

	&-next {
		right: 0;
		background: url('../img/team-slider-right-arrow.svg') no-repeat center center;
	}

	&-next.swiper-button-disabled {
		opacity: 1;
		background: url('../img/team-slider-right-arrow-disabled.svg') no-repeat center center;
	}

	&-prev {
		left: 0;
		background: url('../img/team-slider-left-arrow.svg') no-repeat center center;
	}

	&-prev.swiper-button-disabled {
		opacity: 1;
		background: url('../img/team-slider-left-arrow-disabled.svg') no-repeat center center;
	}
}

// Learn
.learn {
	padding: 200px 0;
	
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		width: 810px;
	}

	&__text {
		margin-bottom: 70px;
	}

	&__img img {
		display: block;
	}
}

// Contact
.contact {
	overflow: hidden;
	background-color: $color-dark-blue;

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&-leave {
		width: 810px;
		color: $color-white;
		padding: 150px 0;

		&__title {
			margin-bottom: 70px;
		}

		&__subtitle {
			margin-bottom: 20px;
			font-size: 24px;
		}

		&__wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;

			&:not(:first-of-type) {
				margin-top: 35px;
			}

			&:last-of-type {
				margin-top: 55px;
			}
		}

		&__text {
			width: 390px;
			font-size: 18px;
			font-weight: 300;
			line-height: 1.2em;
			
			a {
				border-bottom: 1px solid $color-white;
			}
		}

		&__input {
			padding: 22px 25px;
			color: $color-white;
			font-size: 24px;
			line-height: 1.3em;
			font-weight: 300;
			width: 390px;
			border-radius: 5px;
			border: 2px solid $color-white;
			background: none;
		}
	}

	&-wish {
		padding-top: 150px;
		padding-left: 95px;
		background-color: #F9F9F9;
		width: 745px;
		position: relative;

		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			top: 0;
			right: -200px;
			background-color: #F9F9F9;
			z-index: 0;
		}

		&__link {
			position: relative;
			z-index: 1;
			padding-bottom: 12px;
			display: block;
			font-size: 48px;
			color: $color-blue;
			font-weight: 300;
			border-bottom: 3px solid $color-blue;
			max-width: fit-content;

			&:not(:last-of-type) {
				margin-bottom: 50px;
			}
		}

		&__text {
			position: relative;
			z-index: 1;
			margin-bottom: 70px;
			line-height: 1.3em;
			font-weight: 300;
		}
	}
}

// Footer
// .footer {
// 	color: $color-white;
// 	padding: 100px 0;
// 	background-color: $color-grey;

// 	&__inner {
// 		display: flex;
// 		justify-content: space-between;
// 	}

// 	&__logo {
// 		margin-bottom: 44px;
// 	}

// 	&-logo {
// 		width: 250px;

// 		&__text {
// 			line-height: 1.3em;
// 			font-weight: 300;
// 			font-size: 14px;
// 		}
// 	}

// 	&-some {
// 		&__item {
// 			display: flex;

// 			&:not(:last-of-type) {
// 				margin-bottom: 35px;
// 			}
// 		}
// 	}

// 	&-link {
// 		padding-bottom: 2px;
// 		font-size: 18px;
// 		line-height: 1.2em;
// 		border-bottom: 2px solid rgba($color-white, 0);
// 		transition: border-bottom .2s ease;

// 		&:hover {
// 			border-bottom: 2px solid $color-white;
// 		}
// 	}

// 	&-sublink {
// 		font-size: 16px;
// 		line-height: 1.3em;
// 		opacity: 0.8;
// 		font-weight: 300;
// 		transition: opacity .2s ease;

// 		&:hover {
// 			opacity: 1;
// 		}
// 	}

// 	&-about {
// 		&__inner {
// 			display: flex;
// 			margin-top: 25px;
// 		}

// 		&__list {
// 			width: 310px;

// 			&:not(:last-of-type) {
// 				margin-right: 50px;
// 			}
// 		}

// 		&__item {
// 			display: flex;

// 			&:not(:last-of-type) {
// 				margin-bottom: 15px;
// 			}
// 		}
// 	}
// }

.footer-small {
	color: $color-white;
	padding: 100px 0;
	background-color: $color-grey;

	&__text {
		font-size: 14px;
		opacity: .8;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

// Responsive
@media (max-width: 1700px) {
	.container {
		width: 1400px;
	}

	.teamSlider {
		&__slide {
			width: 426px !important;
			height: 468px;
		}

		&-info {
			width: 350px;
		}
	}

	.contact {
		&-leave {
			width: 100%;
			padding-right: 95px;

			&__input {
				width: 360px;
			}

			&__btn {
				width: 360px;
				padding: 30px 0px;
			}
		}
	}
}

@media (max-width: 1460px) {
	.container {
		width: 1140px;
	}

	body {
		font-size: 30px;
	}

	.teamSlider {
		&__slide {
			width: 320px !important;
			height: 351px;
		}
	}

	.home {
		&-img {
			right: -100px;
		}
	}

	.offer {
		min-width: 640px;

		&__text {
			font-size: 20px;
		}
	}
	
	.main-title {
		font-size: 60px;
	}


	.section-title {
		font-size: 72px;
	}

	.next-title {
		font-size: 36px;
	}

	.minus {
		&__text {
			width: 100%;
		}
	}

	.btn {
		&_primary {
			padding: 30px 80px;
			font-size: 20px;
		}
	}

	.soon {
		&__text {
			width: 540px;
			font-size: 32px;
		}

		&__triangle {
			border-width: 180px 180px 180px 0;

			&::before {
				top: -180px;
				border-width: 180px 180px 180px 0;
				left: 178px;
			}
		}
	}

	.learn {
		&__content {
			width: 600px;
		}

		&__inner {
			justify-content: space-between;
		}

		&__img {
			width: 497px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	.menu {
		&__item {
			&:not(:first-of-type) {
				margin-left: 65px;
			}
		}
	}

	.contact {
		&__inner {
			flex-direction: column;
		}

		&-wish {
			padding: 100px 0;

			&::before {
				height: 100%;
				width: 200vw;
				right: auto;
				left: -50vw;
			}
		}

		&-leave {
			padding: 100px 0;

			&__input {
				min-width: 97%;
			}
			
			&__box {
				width: 100%;
			}

			&__btn {
				width: 100%;
			}

			&__text {
				min-width: 390px;
				margin-left: 40px;
			}
		}
	}

	.can {
		&__list {
			&:not(:first-of-type) {
				margin-left: 0;
			}
		}

		&__inner {
			justify-content: space-between;
		}
	}

	.teamSlider-info {
		width: 90%;
		bottom: 20px;

		&__title {
			font-size: 24px;
		}

		&__item {
			font-size: 16px;
		}
	}
}

@media (max-width: 1200px) {
	.container {
		width: 960px;
	}

	.menu {
		&__link {
			font-size: 22px;
		}
	}

	.header.active {
		.menu {
			&__link {
				font-size: 20px;
			}
		}	
	}

	.can {
		&__arrow {
			margin-right: 20px;
		}

		&__link:hover .can__arrow {
			right: -10px;
		}
	}
	
	.offer {
		padding: 260px 0px 0 0;
	}

	.home {
		&-img {
			right: -30px;
			
			&__photo, &__svg {
				width: 400px;
				height: 800px;

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}

	// .footer {
	// 	&__inner {
	// 		flex-wrap: wrap;
	// 	}

	// 	&-about {
	// 		&__list {
	// 			margin-top: 40px;
	// 		}
	// 	}
	// }

	.teamSlider {
		&__slide {
			height: 318px;
			width: 290px !important;
		}
	}

	.can,
	.minus,
	.learn {
		padding: 150px 0;
	}

	.soon {
		position: relative;
		padding: 110px 0;

		&__inner {
			flex-direction: column;
			align-items: flex-start;
		}

		&__text {
			margin-bottom: 30px;
		}

		&__triangle {
			top: 0;
			right: 0;
			position: absolute;
			border-width: 211px 211px 211px 0;


			&::before {
				display: none;
			}
		}
	}
}

@media (max-width: 991px) {
	.container {
		width: 720px;
	}

	.can {
		&__inner {
			flex-direction: column;
		}

		&__list {
			&:not(:last-of-type) {
				margin-bottom: 60px;
			}
		}

		&__arrow {
			margin-right: 40px;
		}

		&__link:hover .can__arrow {
			right: -20px;
		}

		&__item:not(:last-of-type) {
			margin-bottom: 60px;
		}
	}

	.header.active .burger {
		background: url('../img/burger-dark.svg') no-repeat center center;
	}

	.menu {
		display: none;
	}

	.burger {
		display: block;
	}
	
	.offer {
		padding: 247px 0 385px;
	}

	.soon {
		&__text {
			width: 500px;
		}
	}

	.minus {
		&__text {
			margin-bottom: 45px;
		}
	}

	.footer-small {
		padding: 75px 0;
	}

	.home-img {
		position: absolute;
		bottom: 0;
		right: 0;

		&__svg, &__photo {
			width: 235px;
			height: 470px;
		}
	}

	.home {
		position: relative;
	}

	.contact {
		&-leave {
			&__input {
				min-width: auto;
				width: 96%;
			}
		}

		&-wish {
			&__link {
				font-size: 36px;

				&:not(:last-of-type) {
					margin-bottom: 35px;
				}
			}

			&__text {
				margin-bottom: 45px;
			}
		}
	}

	.learn {
		&__inner {
			flex-direction: column;
		}

		&__img {
			margin-top: 85px;
			width: 100%;
		}

		&__content {
			width: 100%;
		}
	}

	.teamSlider {
		&__slide {
			width: 330px !important;
			height: 362px;
		}
	}
}

@media (max-width: 767px) {
	.container {
		width: 540px;
	}

	.soon {
		&__triangle {
			border-width: 211px 150px 211px 0;
		}

		&__text {
			width: 450px;
		}
	}

	.offer {
		padding: 185px 0 430px;
		min-width: auto;
		&__text {
			br {
				display: none;
			}
		}

		&__ghost {
			margin-top: 10px;
		}
	}

	.minus {
		&__item {
			padding: 15px 25px;
			font-size: 20px;

			&_tab-delete {
				display: none;
			}

			&:nth-child(4n+1) {
				border: 2px solid #FB4749;
			}
			&:nth-child(4n+2) {
				border: 2px solid #006AFF;
			}
			&:nth-child(4n+3) {
				border: 2px solid #03A200;
			}
			&:nth-child(4n+4) {
				border: 2px solid #F8D800;
			}
		}

		&__list li {
			margin-right: 25px;
		}
	}

	.home-img {
		margin-right: -130px;

		&__svg, &__photo {
			width: 210px;
			height: 420px;
		}
	}

	.contact {
		&-wish {
			width: 100%;
		}

		&-leave {
			&__title {
				margin-bottom: 45px;
			}

			&__input {
				width: 100%;
			}
			
			&__wrapper {
				align-items: flex-start;
				flex-direction: column;

				&:not(:first-of-type) {
					margin-top: 30px;
				}
			}

			&__text {
				width: 100%;
				margin-left: 0;
				margin-top: 15px;
			}

			&__box {
				&:not(:last-of-type) {
					margin-bottom: 30px;
				}
			}
		}
	}

	.main-title {
		font-size: 52px;
	}

	.team {
		&__title-wrapper {
			flex-direction: column;
		}

		&__title {
			margin-bottom: 30px;
		}
	}

	.teamSlider {
		padding: 0 45px;

		&-arrow {
			width: 100%;
		}

		&__slide {
			width: 450px !important;
			height: 494px;
		}
	}

	.popup {
		&-catalog,
		&-login {
			&__body {
				width: 550px;
			}
		}
	}
}

@media (max-width: 575px) {
	.can,
	.minus,
	.learn {
		padding: 95px 0;
	}

	.popup {
		&-login {
			&__body {
				width: 290px;
				padding: 30px;
			}

			&__input {
				width: 100%;
			}

			&__title {
				margin-bottom: 30px;
			}

			&__inner {
				&:not(:last-of-type) {
					margin-bottom: 20px;
				}
			}

			&__btn {
				margin: 30px 0 30px;
			}

			&__subtitle {
				margin-bottom: 10px;
				font-size: 16px;
			}

			&__forget {
				font-size: 16px;
			}
		}

		&-catalog {
			&__img {
				height: 50%;

				img {
					width: 100%;
					height: 100%;
				}
			}

			&__body {
				width: 290px;
				padding: 50px;
			}

			&__text {
				font-size: 26px;
			}
		}
	}

	.header.active {
		padding: 15px 0;

		.header__logo {
			width: 130px;
			height: 44px;
		}

		.burger {
			background: url('../img/burger-dark.svg') no-repeat center center / cover;
		}
	}

	.contact {
		&-wish {
			padding: 65px 0;

			&__link {
				font-size: 26px;
			}
		}

		&-leave {
			padding: 65px 0;

			&__subtitle {
				font-size: 18px;
			}

			&__input {
				padding: 15px 20px;
			}

			&__text {
				min-width: 100%;
			}
		}
	}

	.minus {
		&__list li {
			margin-right: 100%;
			display: none;
			min-width: max-content;
		}

		&__item {
			&_mob {
				display: block !important;
			}
			&_thank {
				margin-right: 20px !important;
				margin-bottom: 0 !important;
			}
		}
		
		&__emoji_heart {
			margin-bottom: 0 !important;
			display: block !important;
		}
	}

	.container {
		width: 100%;
		padding: 0 15px;
	}

	body {
		font-size: 24px;
	}

	.offer {
		padding: 165px 0 276px;

		&__inner {
			flex-direction: column;
			align-items: flex-start;
		}

		&__subtitle {
			margin: 0;
		}

		&__text {
			margin: 0px;
			font-size: 16px;
		}
	}

	.smallSlider {
		height: 200px;

		&__slide.active {
			.offer {
				&__subtitle {
					margin-bottom: 4px;
				}
			}
		}
	}

	.main-title {
		font-size: 40px;
	}

	.section-title {
		font-size: 48px;
	}

	.next-title {
		font-size: 26px;
	}

	.home-img {
		margin-right: -60px;

		&__svg, &__photo {
			width: 125px;
			height: 250px;
		}
	}

	.soon {
		padding: 65px 0 280px;

		&__triangle {
			top: auto;
			bottom: 0;
			border-left-width: 250px;
			border-right-width: 250px;
			border-top-width: 100px;
			border-color: transparent transparent $color-yellow transparent;
		}
	}

	.footer-small {
		padding: 50px 0;

		&__text {
			margin-top: 35px;
		}

		&__inner {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	.can {
		&__title {
			margin-bottom: 50px;
		}
	}

	.btn {
		&_primary {
			font-size: 18px;
		}
	
		&_secondary {
			font-size: 18px;
		}
	
		&_triple {
			font-size: 18px;
		}
	}

	.teamSlider {
		padding: 0 10px;
		&__slide {
			width: 100% !important;
			height: 100%;
		}
	}

	.team {
		&__title {
			margin-bottom: 45px;
		}
	}

	.can {
		&__item {
			&:not(:last-of-type) {
				margin-bottom: 45px;
			}
		}

		&__list:not(:last-of-type) {
			margin-bottom: 45px;
		}
	}
}

@media (max-width: 499px) {
	.minus {
		&__emoji_heart {
			width: 59px;
			height: 59px;

			img {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}


	.soon {
		&__text {
			width: 100%;
		}
	}

	.header {
		padding: 25px 0;
	}

	.logo {
		width: 130px;
		height: 44px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.burger-menu {
		padding-top: 15px;

		&__close {
			width: 20px;
			height: 20px;
		}

		&__link {
			font-size: 24px;
		}

		&__inner {
			margin-bottom: 70px;
		}

		&__item {
			&:not(:last-of-type) {
				margin-bottom: 40px;
			}
		}
	}

	.burger {
		width: 50px;
		height: 23px;
		background: url('../img/burger.svg') no-repeat center center / cover;
	}

	.learn {
		padding-top: 60px;
	}
}

@media (max-width: 407px) {
	.offer {
		&__text {
			font-size: 14px !important;
		}
	}

	.smallSlider {
		height: 180px;

		&__slide.active {
			.offer__subtitle {
				margin-bottom: 2px;
			}
		}
	}
}

@media (max-width: 399px) {
	.minus {
		&__emoji_heart {
			width: 49px;
			height: 49px;
		}

		&__item {
			font-size: 16px;
			
			&:not(:last-of-type) {
				margin-bottom: 15px;
			}
		}
	}

	.can {
		&__arrow {
			margin-right: 20px;
		}

		&__link:hover .can__arrow {
			right: -10px;
		}
	}

	.btn {
		padding: 20px 0;
		width: 100%;
		text-align: center;

		&_primary {
			font-size: 18px;
		}
	
		&_secondary {
			font-size: 18px;
		}
	
		&_triple {
			font-size: 18px;
		}
	}

	.offer__text {
		font-size: 16px;
	}

	.learn {
		&__img {
			margin-top: 50px;
		}
	}

	.offer__text {
		span {
			display: none;
		}
	}
}